
</main>
<footer>
    <div class="ui inverted vertical footer segment">
        <div class="ui container">
            <div class="ui stackable inverted divided equal height stackable grid">
                <div class="three wide column">
                    <h4>A propos</h4>
                    <div class="ui inverted link list">
                        <a class="item" href="#ecole-ancre">Notre École</a>
                        <a class="item" href="#instrument-ancre">Nos Instruments</a>
                        <a class="item" href="">Rêgles & Confidentialités</a>
                    </div>
                </div>
                <div class="three wide column">
                    <h4>A propos</h4>
                    <div class="ui inverted link list">
                        <a class="item" href="#ecole-ancre">Notre École</a>
                        <a class="item" href="#instrument-ancre">Nos Instruments</a>
                        <a class="item" href="">Rêgles & Confidentialités</a>
                    </div>
                </div>
                <div class="seven wide column">
                    <h4>E-Music</h4>
                    <div class="ui list">
                        <div class="item">Tous droits réservée.</div>
                        <div class="item">Site Réalisés par Clément H</div>
                        <div class="item">Co produit par Kilian L</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
</div> <!-- Fermeture div APP-->
</body>
</div>
<script src="https://kit.fontawesome.com/9626785de0.js" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.6.1/dist/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.1.2/axios.min.js" integrity="sha512-bHeT+z+n8rh9CKrSrbyfbINxu7gsBmSHlDCb3gUF1BjmjDzKhoKspyB71k0CIRBSjE5IVQiMMVBgCWjF60qsvA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/fomantic-ui@2.9.0/dist/semantic.min.css">
<script src="https://cdn.jsdelivr.net/npm/fomantic-ui@2.9.0/dist/semantic.min.js"></script>
<script src="/js/modal.js" crossorigin="anonymous"></script>
</html>