{{> partials/header}}

<div class="main-container">
    <div class="card-container">
        <div class="ui card">
            <div class="content">
                <div class="header">Compétences</div>
                <div class="meta">
                    <span>Compétences</span>
                </div>
                <p>Présentation des compétences avec projets associés</p>
                <a href="/portfolio/competences" class="ui blue basic button">Plus de détails</a>
            </div>
        </div>
        <div class="ui card">
            <div class="content">
                <div class="header">Projets</div>
                <div class="meta">
                    <span>Projets/Preuves</span>
                </div>
                <p>Présentation de tout les projets avec les preuves associées</p>
                <a href="/portfolio/projets/1" class="ui blue basic button">Plus de détails</a>
            </div>
        </div>
    </div>
    <div class="card-container">
        <div class="ui card">
            <div class="content">
                <div class="header">Veille juridique</div>
                <div class="meta">
                    <span>Veille juridique</span>
                </div>
                <p>Présentation de ma veille juridique et informationnelle</p>
                <a href="/portfolio/veille" class="ui blue basic button">Plus de détails</a>
            </div>
        </div>
    </div>
</div>

{{> partials/footer}}