{{> partials/header}}

<div id="veilleContainer" class="veilleContainer">
    <div class="ui card">
        <div class="image">
            <img src="/img/image.png">
        </div>
        <div class="content">
            <a class="header">Kristy</a>
            <div class="meta">
                <span class="date">Joined in 2013</span>
            </div>
            <div class="description">
                Kristy is an art director living in New York.
            </div>
            <div onclick="new Modal(
                'test',
                'Lorem ipsum dolor sit amet,orttitor purus et, sollicitudin augue. Morbi vitae nulla in nunc aliquet aliquam eu quis sem. Nullam suscipit convallis mauris et interdum. Sed sodales nibh quis mattis ultrices. Fusce accumsan imperdiet quam sed ultrices. Integer ut vulputate urna, ac ultricies velit. Aenean varius tellus et ante sollicitudin, eu pretium velit aliquet. Vestibulum non molestie libero, quis molestie nisi. Fusce porta tellus sed diam accumsan finibus.',
                '/img/image.png').open()"
             class="ui primary button">
                Plus de détails
            </div>
        </div>
    </div>
    <div class="ui card">
        <div class="image">
            <img src="/img/image.png">
        </div>
        <div class="content">
            <a class="header">Kristy</a>
            <div class="meta">
                <span class="date">Joined in 2013</span>
            </div>
            <div class="description">
                Kristy is an art director living in New York.
            </div>
            <div class="ui primary button">
                Plus de détails
            </div>
        </div>
    </div>
    <div class="ui card">
        <div class="image">
            <img src="/img/image.png">
        </div>
        <div class="content">
            <a class="header">Kristy</a>
            <div class="meta">
                <span class="date">Joined in 2013</span>
            </div>
            <div class="description">
                Kristy is an art director living in New York.
            </div>
            <div class="ui primary button">
                Plus de détails
            </div>
        </div>
    </div>
    <div class="ui card">
        <div class="image">
            <img src="/img/image.png">
        </div>
        <div class="content">
            <a class="header">Kristy</a>
            <div class="meta">
                <span class="date">Joined in 2013</span>
            </div>
            <div class="description">
                Kristy is an art director living in New York.
            </div>
            <div class="ui primary button">
                Plus de détails
            </div>
        </div>
    </div>
    <div class="ui card">
        <div class="image">
            <img src="/img/image.png">
        </div>
        <div class="content">
            <a class="header">Kristy</a>
            <div class="meta">
                <span class="date">Joined in 2013</span>
            </div>
            <div class="description">
                Kristy is an art director living in New York.
            </div>
            <div class="ui primary button">
                Plus de détails
            </div>
        </div>
    </div>
</div>
<div id="modal" class="modalContainer">
    <div class="modalBody">
        <div class="modalHeader">
            <h1></h1>
            <i onclick="new Modal().close()" class="fa-solid fa-xmark"></i>
        </div>
        <div class="modalContent">
            <img>
            <p></p>
        </div>
    </div>
</div>
{{> partials/footer}}